# [Environment] Core i7-13700K, Geforce RTX 3090Ti, cuda11.7, ubuntu 22.04, nvidia-driver-525-server
# [Date] 1 August 2023
###################################################### MANDATORY #######################################################
# conda create --name DBF python=3.8 -y
# conda install pytorch==2.0.1 torchvision==0.15.2 pytorch-cuda=11.7 -c pytorch -c nvidia
# pip install -U openmim==0.3.9
# mim install mmcv-full==1.7.1
# git clone -b 2.x https://github.com/open-mmlab/mmdetection
# (mmdet==2.28.2)
# cd mmdetection
# pip install -v -e . # -v: verbose # -e: editable mode
# git clone https://github.com/open-mmlab/mmrotate
# (mmrotate==0.3.4)
# cd mmrotate
# pip install -v -e .
# pip install tensorboard
###################################################### OPTIONAL ########################################################
# pip install jupyter notebook

