# Geforce RTX 3090Ti, cuda11.7, ubuntu 22.04, nvidia-driver-525-server
# conda create --name DBF python=3.8 -y
# conda install pytorch==2.0.1 torchvision==0.15.2 pytorch-cuda=11.7 -c pytorch -c nvidia